In [26]:
import numpy as np
import pandas as pd

df = pd.read_excel('./Acoustic_Extinguisher_Fire_Dataset/Acoustic_Extinguisher_Fire_Dataset.xlsx')
df.head()

   SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0     1  gasoline        10       96      0.0         75       0
1     1  gasoline        10       96      0.0         72       1
2     1  gasoline        10       96      2.6         70       1
3     1  gasoline        10       96      3.2         68       1
4     1  gasoline        10      109      4.5         67       1

In [28]:
desvp = df['AIRFLOW'].std()
media = df['AIRFLOW'].mean()

print("media = %.2f, desvio padrao = %.2f" % (media, desvp))

# apenas outliers segundo std
df_out_airflow = df[(df['AIRFLOW'] < media-(desvp*2)) | (df['AIRFLOW'] > media+(desvp*2))]
print("Outliers:", len(df_out_airflow))

# apenas inliers segundo std
df_in_airflow = df[(df['AIRFLOW'] >= media-(desvp*2)) & (df['AIRFLOW'] <= media+(desvp*2))]
print("Inliers:", len(df_in_airflow))

media = 6.98, desvio padrao = 4.74
Outliers: 34
Inliers: 17408

In [30]:
desvp = df['DESIBEL'].std()
media = df['DESIBEL'].mean()

print("media = %.2f, desvio padrao = %.2f" % (media, desvp))

# apenas outliers segundo std
df_out = df_in_airflow[(df_in_airflow['DESIBEL'] < media-(desvp*2)) | (df_in_airflow['DESIBEL'] > media+(desvp*2))]
print("Outliers:", len(df_out))

# apenas inliers segundo std
df_in = df_in_airflow[(df_in_airflow['DESIBEL'] >= media-(desvp*2)) & (df_in_airflow['DESIBEL'] <= media+(desvp*2))]
print("Inliers:", len(df_in))

media = 96.38, desvio padrao = 8.16
Outliers: 595
Inliers: 16813

In [31]:
df_in

       SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0         1  gasoline        10       96      0.0         75       0
1         1  gasoline        10       96      0.0         72       1
2         1  gasoline        10       96      2.6         70       1
3         1  gasoline        10       96      3.2         68       1
4         1  gasoline        10      109      4.5         67       1
...     ...       ...       ...      ...      ...        ...     ...
17434     7       lpg       190       91      1.9          8       0
17435     7       lpg       190       91      1.6          7       0
17436     7       lpg       190       87      2.5          6       0
17437     7       lpg       190       86      2.2          5       0
17438     7       lpg       190       84      2.0          4       0

[16813 rows x 7 columns]

Convertemos os atributos categóricos **FUEL** em numéricos usando a técnica one-hot encoding através do método `get_dummies` no `pandas`.

Como resultado, os quatro tipos de combustíveis presentes (`gasoline`, `kerosene`, `lpg` e `thinner`) foram separados em 4 atributos com valores 0 ou 1.

In [36]:
dummy_vars = pd.get_dummies(df_in['FUEL'])
df_dummies = pd.concat([dummy_vars, df_in.drop('FUEL', axis=1)], axis = 1, sort=False)
df_dummies

,gasoline,kerosene,lpg,thinner,SIZE,DISTANCE,DESIBEL,AIRFLOW,FREQUENCY,STATUS
0,1,0,0,0,1,10,96,0.0,75,0
1,1,0,0,0,1,10,96,0.0,72,1
2,1,0,0,0,1,10,96,2.6,70,1
3,1,0,0,0,1,10,96,3.2,68,1
4,1,0,0,0,1,10,109,4.5,67,1
...,...,...,...,...,...,...,...,...,...,...
17434,0,0,1,0,7,190,91,1.9,8,0
17435,0,0,1,0,7,190,91,1.6,7,0
17436,0,0,1,0,7,190,87,2.5,6,0
17437,0,0,1,0,7,190,86,2.2,5,0
17438,0,0,1,0,7,190,84,2.0,4,0