In [4]:
import numpy as np
import pandas as pd

df = pd.read_excel('./Acoustic_Extinguisher_Fire_Dataset/Acoustic_Extinguisher_Fire_Dataset.xlsx')
df.head()

   SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0     1  gasoline        10       96      0.0         75       0
1     1  gasoline        10       96      0.0         72       1
2     1  gasoline        10       96      2.6         70       1
3     1  gasoline        10       96      3.2         68       1
4     1  gasoline        10      109      4.5         67       1

In [24]:
desvp = df['AIRFLOW'].std()
media = df['AIRFLOW'].mean()

print("media = %.2f, desvio padrao = %.2f" % (media, desvp))

# apenas outliers segundo std
df_out = df[(df['AIRFLOW'] < media-(desvp*2)) | (df['AIRFLOW'] > media+(desvp*2))]
print("Outliers:", len(df_out))

# apenas inliers segundo std
df_in = df[(df['AIRFLOW'] >= media-(desvp*2)) & (df['AIRFLOW'] <= media+(desvp*2))]
print("Inliers:", len(df_in))

media = 6.96, desvio padrao = 4.72
Outliers: 0
Inliers: 17408

In [17]:
pd.get_dummies(df['FUEL'])

       gasoline  kerosene  lpg  thinner
0             1         0    0        0
1             1         0    0        0
2             1         0    0        0
3             1         0    0        0
4             1         0    0        0
...         ...       ...  ...      ...
17437         0         0    1        0
17438         0         0    1        0
17439         0         0    1        0
17440         0         0    1        0
17441         0         0    1        0

[17442 rows x 4 columns]